<div class="card mx-auto" style="max-width: 400px;">
  <div class="card-header">
    Warning
  </div>
  <div class="card-body">
    <h5 class="card-title">Remeber to Log In in order to chat</h5>
    <p class="card-text">You can only chat as a verified user.</p>
    <%= link_to 'Log In', new_session_path, class: "btn btn-primary" %>
  </div>
</div>