<div class="card mb-3">
  <div class="card-body">

    <div class="d-flex flex-column justify-content-between mb-2">
      <div class="d-flex flex-column justify-content-between mb-2" id="message-container">
        <%= render @messages %>
      </div>

    </div>

    <%= form_with(model: @message, url: @message.persisted? ? message_path(@message) : messages_path, method: @message.persisted? ? :patch : :post, html: { class: "mt-3" }) do |form| %>
      <div class="input-group">
        <%= form.text_area :body, class: "form-control", placeholder: "Write a comment..." %>
        <button class="btn btn-primary" type="submit"><%= @message.persisted? ? "Update" : "Comment" %></button>
      </div>
    <% end %>


  </div>
</div>
