<p style="color: green"><%= notice %></p>

<% content_for :title, "Chatrooms" %>

<h1>Chatrooms</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%= render "shared/liveChat" %>
    </div>   
    <div class="col">
      <%= render "shared/sideMenu" %>
    </div>
  </div>
</div>

